<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" dir="ltr">

  <head>
    <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>

    <meta charset="UTF-8">
    <meta name="language" content="{{ .Site.LanguageCode }}">
    <meta name="description" content="{{ if .IsHome}}{{ .Site.Params.Description }}{{ else }}{{.Page.Params.Description}}{{ end }}">
    <meta name="keywords" content="{{ delimit .Keywords " , " }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#fff">
    <meta property="og:image" content="/images/vhg-logo/VHG_logo_small.png">
    <!--<link rel="manifest" href="mensacheck.webmanifest">-->

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/desktop.css">

    {{ partial "favicon.html" }}

    <!-- Styles -->
    {{ block "styles" . }} {{ end }} <!-- Get "style_opts" variable from "styles" block -->
    {{ block "scripts" . }} {{ end }}

    {{ $current_page := . }}
  </head>

  <body>
    {{ partial "nav.html" .}}

    <main class="col-8">
      {{ block "main" . }} {{ end }}
    </main>

    {{ partial "footer.html" . }}
  </body>
</html>
