{{ define "styles" }}
  <link rel="stylesheet" href="/css/input.css">
  <link rel="stylesheet" href="/css/ajax_content.css">
  <link rel="stylesheet" href="/css/infobox.css">
{{ end }}

{{ define "scripts" }}
  <script src="/js/mensa.js"></script>
{{ end }}

{{ define "main" }}
  <!--{{ .Content }}-->
  <h2 style="text-align:center">MensaCheck der Veganen Hochschulgruppe</h2>
  <table>
      <tr>
          <th>Mensen Halle</th>
          <th>Mensen Umland</th>
      </tr>
      <tr>
          <td>
              <label class="container"> Alle in Halle
                  <input type="checkbox" name="halle" onclick="toggle(this, 'checkHalle')" checked="true">
                  <span class="checkmark"></span>
              </label>
          </td>
          <td>
              <label class="container"> Alle im Umland
                  <input type="checkbox" name="umland" onclick="toggle(this, 'checkUmland')">
                  <span class="checkmark"></span>
              </label>
          </td>
      </tr>
      <tr>
          <td>
              <label class="container"> Harzmensa
                  <input type="checkbox" class="checkHalle" id="harz" value="3" checked="true">
                  <span class="checkmark"></span>
              </label>
          </td>
          <td>
              <label class="container"> Mensa Köthen
                  <input type="checkbox" class="checkUmland" id="koethen" value="7">
                  <span class="checkmark"></span>
              </label>
          </td>
      </tr>
      <tr>
          <td>
              <label class="container"> Heidemensa
                  <input type="checkbox" class="checkHalle" id="heide" value="17" checked="true">
                  <span class="checkmark"></span>
              </label>
          </td>
          <td>
              <label class="container"> Mensa Bernburg
                  <input type="checkbox" class="checkUmland" id="bernburg" value="8">
                  <span class="checkmark"></span>
              </label>
          </td>
      </tr>
      <tr>
          <td>
              <label class="container"> Weinbergmensa
                  <input type="checkbox" class="checkHalle" id="weinberg" value="5" checked="true">
                  <span class="checkmark"></span>
              </label>
          </td>
          <td>
              <label class="container"> Mensa Dessau
                  <input type="checkbox" class="checkUmland" id="dessau" value="13">
                  <span class="checkmark"></span>
              </label>
          </td>
      </tr>
      <tr>
          <td>
              <label class="container"> Mensa Francke
                  <input type="checkbox" class="checkHalle" id="francke" value="14" checked="true">
                  <span class="checkmark"></span>
              </label>
          </td>
          <td>
              <label class="container"> Mensa Merseburg
                  <input type="checkbox" class="checkUmland" id="merseburg" value="16">
                  <span class="checkmark"></span>
              </label>
          </td>
      </tr>
      <tr>
          <td>
              <label class="container"> Mensa Neuwerk
                  <input type="checkbox" class="checkHalle" id="neuwerk" value="9" checked="true">
                  <span class="checkmark"></span>
              </label>
              </td>

      </tr>
      <tr>
          <td>
              <label class="container"> Mensa Tulpe
                  <input type="checkbox" class="checkHalle" id="tulpe" value="10" checked="true">
                  <span class="checkmark"></span>
              </label>
          </td>
      </tr>
  </table>
  <div class="buttons">
      <button type="button" class="button" name="0" onclick="display(this)"> Heute </button>
      <button type="button" class="button" name="1" onclick="display(this)"> Morgen </button>
      <button type="button" class="button" name="2" onclick="display(this)"> Übermorgen </button>
  </div>
  <div id="ajax_content">
      <div class="extra">
          <img src="/images/studentenwerk.png" alt="sw" style="width:300px">
          <img src="/images/peta.jpg" alt="peta" style="width:250px">
      </div>
  </div>
  <article id="mensatips" style="display:none">
    <p><strong>Wo findest du Allergene?</strong> Die Vielzahl an Allergenen macht es schlicht unmöglich diese in eine kompakte Übersicht zu integrieren oder entsprechende Filtermöglichkeiten einzubauen. Falls du auf Informationen zu Allergenen angewiesen bist, besuch gerne die <a href="https://www.studentenwerk-halle.de/mensen-cafebars/speiseplaene/" target="_blank">Seite des Studentenwerks.</a> Dort findest du eine Auflistung mit allen notwendigen Hinweisen.</p>
    <p><strong>Nichts gefunden?</strong> Leider bieten die Mensen des Studentenwerks nicht jeden Tag ein veganes Angebot. Trotzdem musst du die Mensa nicht meiden, wenn du mal keine Zeit oder Lust hattest dich vorzubereiten.</p>
    <p><strong>Komponenten und Beilagen:</strong> In einigen Mensen kannst du einzelne Komponenten kaufen. So kannst du dir mit der Auswahl aus der Salatbar ein leckeres und bezahlbares Mittagessen individuell zusammenstellen. Nicht die beste Lösung, aber vielleicht ein erträglicher Workaround.</p>
  </article>

  <!-- extra information on results of ajax request -->
  <div id="infowrapper">
      <div id="infobackground">
          <div id="infobox">
              <div class="button-exit" onclick="document.getElementById('infowrapper').style.display = 'none'" dir="rtl">
                  <img src="/icons/cross.png" alt="Exit">
              </div>
              <iframe id="infotext" src=""></iframe>
          </div>
      </div>
  </div>
{{ end }}
