#ajax_content {
    margin-bottom: 50px;
}

.row {
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
}

.panel-body {
    width: 90%;
}

.food-container {
    display: flex;
    justify-content: space-around;
    margin: 0 20px;
    height: auto !important;
}

.food_title {
    text-align: center;
}

.lw_button, .rss-hover {
    display: none;
}

/* Pricelist */
.dl-horizontal {
  display: flex;
  margin: 80px 0px 0px -170px;
}
.dl-horizontal > div {
  margin: 5px;
  padding: 5px;
  text-align: center;
}

/* Put the thumbnail in the center */
img.thumbnail {
  margin-left: 100px;
}

.pull-left {
    text-align: center;
}

.col-md-12 {
    flex-direction: column;
    display: flex;
    width: 400px;
}

.col-md-6 {
    border: 2px solid ;
    border-radius: 10px;
    border-color: #75c947;
}

.col-md-4 {
    flex: 1;
}

/* preserving tooltip css for later use
.tooltip {
    position: relative;
    /*display: inline-block;*/
    /*border-bottom: 1px dotted black;*/
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 330px;
    background-color: #1c1c1c;
    color: white;
    text-align: left;
    padding: 5px 10px 5px 30px;
    border-radius: 6px;
    opacity: 0;
    transition: opacity 0.2s;

    position: absolute;
    top: 80%;
    left: 50%;
    margin-left: -165px;
    z-index: 1;

    line-height: 2;
  }

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #1c1c1c transparent;
}
*/

@media screen and (min-width: 828px) {
    .col-md-6 {
        border: none;
    }
    .food-container {
        padding: 20px;
        width: 360px;
        height: 200px;
        border: 2px solid;
        border-radius: 10px;
        border-color: #75c947;
    }
}
@media screen and (min-width: 1350px) {
    .row {
        flex-wrap: nowrap;
    }
    .col-md-6 {
        margin: 0 10px;
    }
}
