@media screen and (min-width: 828px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    aside {
        display: block;
        float: left;
        max-width: 250px;
        padding-right: 100px;
        position: sticky;
        top: 120px;
    }

    .nav-mobile {
        display: none;
    }

    .nav-desktop {
        display: flex;
        flex-direction: column;
        margin: 0 15px;
    }

    header {
        padding: 0 10px;
    }
    main {
        display: inline-block;
    }

    footer {
        position: fixed;
        bottom: 0;
    }

    .extra {
        margin: 75px auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    nav > a, nav > p {
        display: block;
        padding: 10px;
        background-color: #75c947;
        color: white;
    }

    nav > a:hover {
        opacity: 75%;
    }

    #mensatips {
        width: 80%;
        max-width: 800px;
    }

    #contact {
        position: fixed;
        right: 0;
        margin-right: 10px;
    }
}
