/* infobox popup */
#infowrapper {
    z-index: 3;
    width: 100%; height: 100%;
    position: fixed;
    top: 0;
    display: none;
}

#infobackground {
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.5);
}

#infobox {
    width: 100%; height: 100%;
    background-color: white;

}

#infotext {
    width: 100%; height: 100%;
    border: none;
}

.button-exit {
    margin: 10px 10px 0px 0px;
}

.button-exit img {
    width: 20px; height: 20px;
}

@media screen and (min-width: 828px) {
    #infobox {
        width: 50%; height: 50%;
        position: absolute;
        top: 25%; left: 25%;
        border-radius: 10px;
    }
}
