table {
    width: 100%;
    margin: 0 auto;
    padding: 2px 2px;
}

@media screen and (min-width: 828px) {
    table {
        width: 80%;
        max-width: 800px;
    }
}

th {
    background-color: #75c947;
    color: #fff;
    padding: 10px 0;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

td {
    padding: 5px;
}

td:hover {
    background-color: #75c947;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    margin: 15px auto;
}
.button {
    width: 20em;
    margin: 2px 10px;
    padding: 12px 25px;
    background-color: #75c947;
    color: white;
    font-size: 16px;
    font-family: sans-serif;
    border: none; border-radius: 4px;
    cursor: pointer;
}

@media screen and (min-width:500px) {
    .buttons {
        flex-direction: row;
        margin: 35px auto;
    }

    .button {
        padding: 15px 25px;
    }
}

.button:hover {
    opacity: 80%;
}

.button:active {
    background-color: #24693d;
}

/* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    margin-bottom: 2px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media screen and (min-width:828px) {
    .container {
        padding-left: 15px;
    }
}

/* Hide the browser's default checkbox */
.container input {
    visibility: hidden;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 1px;
    right: 0;
    background-color: inherit;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: -20px;
    top: 0px;
    width: 5px;
    height: 10px;
    border: solid black;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
