html {
    width: 100%;
}

body {
    font-family: sans-serif;
    padding: 20px;
}

h1 {
    text-align: center;
    margin: auto;
}

hr {
    width: 50%;
    margin: 5px auto 50px auto;
}

a {
    color: #75c947;
    text-decoration: none;
    cursor: pointer;
}

table {
    margin: 0 auto;
}


@media screen and (min-width: 828px) {
    body {
        padding: 10%;
    }

    table {
        width: 75%;
    }

}
