[class*="col-"] {
  width: 95%;
}

body {
    background-color: #fff;
    color: black;
    font-family: Helvetica, sans-serif;
    margin: 0px;
}

header {
    border-bottom: 1px solid; border-color: #206e3c;
    display: flex;
    flex-direction: column;
    padding: 0 10px 10px 10px;
    position: sticky; top: 0px; background-color: #fff; /*header sticks on top*/
    z-index: 2;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

aside {
    margin: 10px auto 0 auto;
    width: 100%;
}

main {
    /*border: 2px solid; border-radius: 10px;*/
    margin: 10px auto 250px auto;
    overflow-y: hidden;
    z-index: 1;
    line-height: 1.5;
}

/* footer
   on wide screens it sticks on botton of the screen
   on small screens it's just bellow the main section
*/
footer {
    margin: 30px 10px 10px 10px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

section {
    margin-bottom: 50px;
}

#logo-pam {
    height: 100px;
}

.menuicon {
    margin-right: 10px;
}

.menuicon:active {
    opacity: 50%;
}

.menubar {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 3px 0;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    padding: 10px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: lightgrey;
}


/*h1 {
    float: left;
    font-size: 20px;
}*/

#VHG_logo_long {
    height: 30px;
}

.nav-mobile {
    display: block;
}

.nav-desktop {
    display: none;
}

nav > a {
    padding: 5px 10px;
    background-color: #75c947;
    color: white;
}

p {
    text-align: justify;
    hyphens: auto;
}

article p {
    line-height: 1.5;
}

a {
    color: #75c947;
    text-decoration: none;
}


#mensatips {
    width: 100%;
    margin: auto;
}

.extra {
    display: none;
}
