<footer>
    <a href="https://www.facebook.com/alternativemensa" target="_blank">
        <img id="logo-pam" src="/images/pam-logo/pam.png" alt="pam">
    </a>
    <a id="contact" href="/impressum">Kontakt/ Impressum</a>
</footer>
