<header>
    <div id="header">
        <h1>Vegane<br>Hochschulgruppe</h1>
        <a href="https://www.vegan-in-halle.de/vhg" target="_blank">
            <img id="VHG_logo_long" src="/images/vhg-logo/VHG_logo_long.png" alt="VHG_logo_long">
        </a>
    </div>
    <nav class="nav-mobile col-12">
        <a href="/">Startseite</a>
        <a href="/mensacheck">MensaCheck</a>
        <a href="/positionen">Positionen</a>
        <a href="/pam">Projekt Alternative Mensa</a>
        <a href="/blog">Blog</a>
    </nav>
</header>
<aside class="col-2">
    <nav class="nav-desktop">
        <p>Navigation</p>
        <a href="/">Startseite</a>
        <a href="/mensacheck">MensaCheck</a>
        <a href="/positionen">Positionen</a>
        <a href="/pam">Projekt Alternative Mensa</a>
        <a href="/blog">Blog</a>
    </nav>
</aside>
