{{ define "main" }}
<article>
  <p style="font-size: 125px; text-align: center">Fehler 404</p>
  <br>
  <h1>
    Ups, da hat uns wohl jemand die Seite weggefuttert. Die Seite, die du suchst, gibt es nicht.<a href="{{ "/" | relURL }}"> Hier entlang zur Startseite.</a>
  </h1>
  <br>
</article>
{{ end }}
